@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    font-family: 'poppins', sans-serif;
}

#card_count{
    text-align: center;
    padding: 0 0.9rem 0.1rem 0.9rem;
    border-radius: 3rem;
}

.adopt-cart{
    padding: 3% 0;
}

.cart-items + .cart-items {
    padding: 2% 0;
}

#header nav {
    background-color: #e26868;
}

#header nav a h3 img {
    width: 50px;
    height: 50px;
}

#homecart,
#home {
    background-color: #f0edd4;
}